.profile-data {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-image img {
    width: 100%;
    height: auto;
}

.profile-content {
    margin-top: 1rem;
}

.profile-content div span {
    margin-right: 1rem;
}

.content-row {
    display: flex;
    gap: 5rem;
    justify-content: flex-start;
    margin-bottom: 0.4rem;
}
