.site-footer {
    display: flex;
    align-items: center;
    grid-area: ft;
    grid-column: span 12 / span 12;
    height: 3.75rem;
    padding-left: 1rem;
    padding-right: 1rem;

    background-color: rgb(31 41 55);
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}
