.site-navbar {
    display: flex;

    position: sticky;
    top: 0px;
    background-color: #fff;
    z-index: 2;

    gap: 2rem;
    align-items: center;
    justify-content: space-between;
    grid-column: span 12 / span 12;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 3.75rem;
    border-bottom: 1px solid #ddd;
}

.site-navbar ul {
    display: flex;
    gap: 0.5rem;
}

.site-navbar li {
    border: 1px solid #e5e5e5;
    border-radius: 2rem;
    transition-duration: 0.5s;
}

.site-navbar li:hover {
    background-color: #def1ff;
    border-color: #def1ff;
}

.site-navbar li:active {
    background-color: #f1f1f1;
    border-color: #f1f1f1;
}

.site-navbar li a {
    display: flex;
    color: #065fd4;
    padding: 0.3rem 0.8rem;
}

.site-navbar li a span {
    padding-left: 0.3em;
}

.site-title a {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.site-title h2 {
    font-size: 1.5em;
    font-weight: 500;
    font-style: italic;
    font-family: 'Raleway', sans-serif;
    text-transform: capitalize;
    color: #065fd4;
    letter-spacing: 2px;
}

.site-logo {
    width: 40px;
    height: 40px;
}

.site-logo img {
    width: 100%;
    height: auto;
}

@media (width < 640px) {
    .site-title a h2 {
        display: none;
    }
}
