.site-content {
    grid-column: span 12 / span 12;
    background-color: rgb(147 197 253);
    padding: 1rem;
}

@media (min-width: 768px) {
    .site-content {
        grid-column: span 10 / span 10;
    }
}
