.site-content {
    grid-column: span 12 / span 12;
    /* padding: 1rem; */
    border-left: 1px solid #ddd;
}

@media (min-width: 768px) {
    .site-content {
        grid-column: span 10 / span 10;
    }
}
