.container {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-template-rows: auto auto 1fr auto;
    width: 100%;
    min-height: 100vh;
    font-family: 'Raleway', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media (min-width: 768px) {
    .container {
        grid-template-rows: auto 1fr auto;
    }
}
